body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #171718; /* Dark background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Background human body image */
.bg-image {
    background: url("images/Stay\ Focused\ Gym\ Wallpaper.jpeg") no-repeat center;
    background-size: 80%;
    opacity: 0.1;
    position: absolute;
    inset: 0;
    z-index: 0;
}

/* Center card */
.login-card {
    position: relative;
    z-index: 1;
    background: rgba(255,255,255,0.05);
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
}

h1 {
    margin: 0 0 5px;
    color: #fff;
}

.subtitle {
    margin: 0 0 20px;
    color: #94a3b8;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.08);
    color: white;
}

/* Login button */
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(90deg, #34d399, #3b82f6);
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* Signup text */
.signup-text {
    margin-top: 15px;
    color: #94a3b8;
    font-size: 14px;
}

.signup-text a {
    color: #34d399;
    text-decoration: none;
}
